.center {
    font-size: small;
    font-family: 'Hack', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.center #inputLogin {
    border: 1px solid black;
    margin-bottom: 2px;
    font-size: small;
    font-family: 'Hack', monospace;
    text-align: center;
}

.center #inputPassword {
    border: 1px solid black;
    margin-bottom: 2px;
    font-size: small;
    font-family: 'Hack', monospace;
    text-align: center;
}

.center #buttonSignUp {
    border: 1px solid black;
    font-size: small;
    font-family: 'Hack', monospace;
    margin-bottom: 2px;
}