body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.input-row {
    margin: auto;
}
.input-row input {
    margin: auto;
}
#textareaMessageBox {
    resize: none;
}
#inputMessage {
    width: 323px;
}
#inputSearch {
    margin-right: 2px;
    margin-bottom: 2px;
}

.list-container {
    height: 218px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 15px;
    width: 125px;
  }

  /* Remove default padding and margin from the ordered list */
  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    list-style: none;
    counter-reset: item;
  }

  li {
    margin-right: 2px;
    font-size: 14px;
    counter-increment: item;
  }
  
  li:before {
    content: none;
  }